.header {
  text-align: left;
  background-color: #375e97;
  color: white;
  padding-top: 0.5em;
  box-shadow: 0 4px 2px -2px #c0c0c0;
  font-size: 1em;

}

.logo {
  margin-left: 1em;

}

.title {
  font-size: 1em;
  display: inline;
  margin-left: 0.25em;
  font-family: sans-serif;
  font-weight: lighter;

}

.nav {
  display: inline-block;
  font-size: 1em;
  padding: 0;
}

.category-nav {
  display: inline-block;
	border-left: 1px solid #ffbb00;
	margin:0 0 0 1em;
  padding: 0 0 0 1em;
	color: #ffbb00;
	cursor: pointer;
}

.router-link {
  text-decoration: none;
	color: #ffbb00;
	cursor: pointer;
}

.category-nav:hover {
	color: #c0c0c0;
}

.add-post-nav {
  display: inline-block;
  margin:0 0 0 1em;
  border-left: 1px solid #fb6542;
  padding: 0 0 0 1em;
	color: #fb6542;
	cursor: pointer;
  text-align: left
}

.add-post:hover {
	color: #c0c0c0;
}

@media (max-width: 375px) {
  .nav {
    font-size: 0.9em;
  }
}

/*table for viewing admin data*/
.data-view-table-container {
  width: 95%;
  overflow: auto;
  margin-left: 2.5%;
  margin-top: 0.5em;
  border-bottom: 1px solid #ffbb00;
}

.data-view-table {
  width: 100%;
}

.data-row {
  width: 100%;
  height: 2em;
}

/*table data rows*/
.post-title {
  text-align: left;
  line-height: 1.5em;
  padding-left: 1em;
  width: 100%;
  font-size: 1em;
  background-color: #3f681c;
  color: white;
  cursor: pointer;
}

.author {
  font-size: 0.75em;
  font-style: italic;
  color: #3f681c;
}

.time-stamp {
  font-size: 0.5em;
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  color: #3f681c;
}

.action {
  font-size: 0.75em;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #fb6542;
  cursor: pointer;
  color: #fb6542;
}

.category-in-post {
  font-size: 0.75em;
  padding-left: 0.25em;
  color: #fb6542;
  cursor: pointer;
}


.comments {
  font-size: 0.75em;
  margin-left: 1em;
  padding-left: 1em;
  cursor: pointer;
  color: #ffbb00;
}

.vote-count {
  text-align: center;
  background-color: #fb6542;
  color: white;
}

.dropdown-container {
  width: 10em;
  margin: 0.5em auto;
}

.select-dropdown-input {
  width: 100%;
}


/*3f681c
fb6542*/
