.header {
  text-align: center;
  background-color: #375E97;
  height: 5em;
  color: white;
  padding: 0.5em 0 0.5em 0;
  box-shadow: 0 4px 2px -2px #c0c0c0;
}

/*login button*/
.login-button {
	width: 30%;
	height: 2.5em;
	margin:1em 0 0 2.5%;
	color: white;
	border-style: hidden;
	cursor: pointer;
	background-color: #FFBB00;
	box-shadow: 0 4px 2px -2px #c0c0c0;
	font-size: 1.2em;
}

.login-button:hover {
	color: #c0c0c0;
}
